.list_spaces_item {
    margin-bottom: 30px;
    
}

.list_spaces_item small {
    display: block;
}

.list_spaces_item img {
    float: left;
    margin-right: 10px;
}

.space-title {
    display: block;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-decoration: none;
    border: none !important;
}

.list_spaces_item .space-description {
    margin-bottom: 0.5em;
}

.list_spaces_item .meta {
    font-size: 0.65em;
    border-bottom: 1px solid #CCC;
}
